__pycache__/
*.py[cod]
*.log
*.mat
*.pt
*.pth
*.onnx
*.ort
*.npy
*.xlsx
*.svg
*.png
*.gif
runs/*
PyEVM/*
configs/all_experiment_configs/*
configs/pipeline/*
configs/pipeline_results/*
configs/pipeline_old/*
!figures/*